body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.circle{
    width: 30vw;
    aspect-ratio: 1;
    border-radius: 50%;
    background: red;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.odometer{
    background-color: aqua;
    width: 25vw;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    float: left;
}
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
}
#output{
    pointer-events: none;
    font-size: 2rem;
    background-color: white;
    width: 15vw;
    border: none;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
#history{
    width: 25vw;
    aspect-ratio: 1;
    float: left;
    background-color: red;
    display: none;
    float: left;
}
.part1{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2 {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
