body{
    margin: 0;
    padding: 0;
    background-color:#199494;
    color: white;
}
.part1 {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}
.box{
    background-color: transparent;
    width: 80vw;
    height: 80vh;
    border: solid black 0.3rem;
}
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.output{
    padding-inline: 1rem;
    width: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    background-color:transparent;
    color: white;
    border: none;
}
.btnsop{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
}
.btnscmd{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
}
.btnop{
    background-color: transparent;
    margin-inline: 1rem;
    width: 7rem;
    height: 4rem;
    border-radius: 7%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid;
}
.btncmd{
    background-color: transparent;
    margin-inline: 1rem;
    width: 7rem;
    height: 4rem;
    border-radius: 7%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid;
}
a {
    text-decoration: none;
}